<?xml version="1.0" encoding="UTF-8"?>
<phpunit>


    <testsuites>
        <testsuite name="Unit">

          <!--<directory suffix="Test.php">./tests/Unit</directory>-->

        </testsuite>
        <testsuite name="Integration.Auth">
          <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>


    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./app/Http/Controllers</directory>
            <directory suffix=".php">./app/Http/Requests</directory>
            <directory suffix=".php">./app/Models</directory>
        </whitelist>

    </filter>


</phpunit>
